@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
.App {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    align-content: flex-end;
}
header{
    background: '#2196f3';
    top:0;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.login {
    width: 40em;
    height: 40em;
    margin-top: 15%
}
.title-container{
    width: 100%;
    height: 20%;
    font-size: 8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    flex-direction: row;
}
.login-title-container{
    width: 100%;
    height: 10%;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}
.rest-container{
    width: 100%;
    height: 50%;
}
.button-container{
    width: 100%;
    height: 20%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.button-container button{
    background-color: white;
    border-radius: 10px;
    width: 15em;
    font-size: 1em;
    height: 3.5em;
    display: flex;
}
.button-container button:hover{
    border-color: rgba(255, 255, 255, 0.45);
    background-color: rgba(255, 255, 255, 0.45);
}
.button-container button .google-icon img{
    width: 2em;
    height: 2em;
}
.google-icon{
    height: 100%;
    display: flex;
    width: 20%;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.google-title{
    height: 100%;
    display: flex;
    width: 60%;
    align-content: center;
    flex-wrap: wrap;
    font-weight: 600;
    justify-content: space-around;
}
.rest-google-title{
    height: 100%;
    display: flex;
    width: 20%;
}
.btnL {
    /*
	 font-size: 21px;
	 padding: 5px 20px;
	 border: 0;
	 background-color: #3498db;
	 color: #fff;
	 border-radius: 3px;
	 transition: all 250ms ease-in-out;
	 cursor: pointer;
*/

    border-radius: 5px;
    width: 180px;
    height: 60px;
    cursor: pointer;
   /* background: transparent;*/
    background-color: #3498db;
    border: 3px solid #91C9FF;
    outline: none;
    transition: 200ms ease-in-out;
}

.btnL:hover {
    background-color: #2e23c8;
    /*new*/
    transition: 200ms ease-in-out;
}


/*
 .btn:focus {
	 outline: none;
}
*/


/*new button animations*/

.login svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btnL:hover svg{
    stroke-dashoffset: -480;
}

.btnL span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    width: 180px;
    height: 60px;
    position: absolute;
}
.dropdownNavs{
    display: contents;
}
.listNavs{
    display: none;
}
@media screen and (min-width: 700px) {
    .dropdownNavs{
      display: none;
    }
    .listNavs{
      display: contents;
    }
    .listNavs h5{
        display: flex;
        justify-content: left;
    }
    #home{
        align-self: center;
    }
}
.review-question:last-child{
    margin-bottom: 50px;
}
.review-answer:last-child{
    margin-bottom: 50px;
}
.MuiStepIcon-root.MuiStepIcon-active {
    color: #2196f3 !important;
}
.MuiStepIcon-root.MuiStepIcon-completed {
    color: #2196f3 !important;
}
footer{
    bottom: 0;
}
.MuiAppBar-colorPrimary {
    color: #fff;
    background-color:#2196f3 !important;
}
.main{
    display: flex;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}