@import 'typeface-roboto';
.App {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Roboto";
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    align-content: flex-end;
}
header{
    font-family: "Roboto";
    background: '#2196f3';
    top:0;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
body{
    font-family: "Roboto";
    bottom: 0px;
    position: relative;
    right: 0;
    left: 0;
}

footer{
    bottom: 0px;
    font-family: "Roboto";
    position: relative;
    right: 0;
    left: 0;
    display: 'flex';
    flex-direction: 'column';
    background-color : '#353535';
    color : 'white';
}
.login {
    width: 40em;
    font-family: "Roboto";
    height: 40em;
    margin-top: 15%
}
.login-trouble{
    font-family: "Roboto";
    width: 40em;
    height: 40em;
    margin-top: 15%
}
.title-container{
    width: 100%;
    font-family: "Roboto";
    height: 20%;
    font-size: 8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    flex-direction: row;
}
.login-title-container{
    width: 100%;
    height: 10%;
    font-family: "Roboto";
    font-size: 2em;
    font-weight: bold;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}
.rest-container{
    font-family: "Roboto";
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
}
.button-container{
    font-family: "Roboto";
    width: 100%;
    height: 20%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.button-container button{
    font-family: "Roboto";
    background-color: white;
    border-radius: 10px;
    width: 15em;
    font-size: 1em;
    height: 3.5em;
    display: flex;
}
.button-container button:hover{
    border-color: rgba(255, 255, 255, 0.45);
    background-color: rgba(255, 255, 255, 0.45);
}
.button-container button .google-icon img{
    width: 2em;
    height: 2em;
}
.google-icon{
    height: 100%;
    display: flex;
    width: 20%;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.google-title{
    font-family: "Roboto";
    height: 100%;
    display: flex;
    width: 60%;
    align-content: center;
    flex-wrap: wrap;
    font-weight: 600;
    justify-content: space-around;
}
.rest-google-title{
    font-family: "Roboto";
    height: 100%;
    display: flex;
    width: 20%;
}
.btnL {
    font-family: "Roboto";
    border-radius: 5px;
    width: 180px;
    height: 60px;
    cursor: pointer;
    background-color: #3498db;
    border: 3px solid #91C9FF;
    outline: none;
    transition: 200ms ease-in-out;
}

.btnL:hover {
    background-color: #2e23c8;
    transition: 200ms ease-in-out;
}
.login svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btnL:hover svg{
    stroke-dashoffset: -480;
}

.btnL span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.container {
    font-family: "Roboto";
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    width: 180px;
    height: 60px;
    position: absolute;
}
.dropdownNavs{
    display: contents;
    font-family: "Roboto";
}
.listNavs{
    font-family: "Roboto";
    display: none;
}
@media screen and (min-width: 700px) {
    .dropdownNavs{
      display: none;
    }
    .listNavs{
      display: contents;
    }
    .listNavs h5{
        display: flex;
        justify-content: left;
    }
    #home{
        align-self: center;
    }
}
.review-question:last-child{
    margin-bottom: 50px;
}
.review-answer:last-child{
    margin-bottom: 50px;
}
.MuiStepIcon-root.MuiStepIcon-active {
    color: #2196f3 !important;
}
.MuiStepIcon-root.MuiStepIcon-completed {
    color: #2196f3 !important;
}
.MuiAppBar-colorPrimary {
    color: #fff;
    background-color:#2196f3 !important;
}
.main{
    font-family: "Roboto";
    display: flex;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    bottom: 0;
}
.bad-login-message{
    background-color: rgba(255, 0, 0, 0.452);
    box-sizing: border-box;
    padding: .5em .25em .5em .25em;
    font-weight: 700;
    border-radius: 4px;
    font-family: "Roboto";
}