.modul-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 10px;
}
.modul-header{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    background-color:cornflowerblue;
}
.modul-body{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    flex-direction: column;
    background-color: #a9acb8;
}
.modul-footer{
    width: 100%;
    display: flex;
}
.modul-title-handler{
    display: flex;
    width: 100%;
}
.modul-title{
    display: flex;
    width: 70%;
    font-weight: 900;
}
.modul-handler{
    display: flex;
    width: 30%;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    position: relative;
}
.modul-description{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.add-modul-btn{
    width:100%;
    border-radius: 0%;
    color: #a9acb8;
    background-color: #1c2442;
    border: 1px solid black;
}
.add-modul-btn:hover{
    width:100%;
    border-radius: 0%;
    color: #ffffff;
    background-color: #00abc9;
}
.image_picker {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}