.main-content{
    width: 100%;
    padding-top: 20vh;
    padding-bottom: 20vh;
    display:block; /*none*/
    background-image: url(../SZEMA_WEB_background_3.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.news-dialog-fullwidth{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding: 2vw;
    box-sizing: border-box;
    height: 50%;
}
.news-dialog-iconpicker{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
.news-dialog-textarea{
    width: 50%;
    height: 100%;
    display: flex;
    font-size: 1.5vw;
}
.news-icon-to-modify{
    width: 10%;
}
.news-dialog-icon-modifier{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-direction: column;
}