.test-main{
    min-height: 100vh;
    width: 100%;
    padding:0;
    margin:0;
    background-color: #a9acb8;
}
.delete-btn{
    width: 15vw;
    height: 38px;
    font-size: 1vw;
    text-transform: none;
    color: white;
    border-radius: 4px;
    background-color:#a32910;
    color: #a9acb8;
    display: block;
    margin: 2.5vh 0 2.5vh 0;
}
.delete-btn:hover{
    color: #ffffff;
    background-color:#f32b03;
}
.multy-modul-picker{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top:10vh
}
.modify-modul-dialog{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}html{
    overflow: auto;
    min-height:100vh;
    margin: 0;
}
#main-welcome{
    height: 100vh;
    bottom: 0;
    background-color: #bbdefa;
    align-content: center;
    display: flex; /*flex*/
    vertical-align: middle;
    justify-content: center;
    position: absolute;
    width: 100%;
    left:0;
}
#main-start{
    width: 100%;
    padding-top: 20vh;
    padding-bottom: 20vh;
    display:none; 
    background-color: #00abc9;
}
#welcome-content{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40%;
    height: 30vh;
    background-color: white;
    border-radius: 1%;
    padding: 30px;
    box-sizing: border-box;
    border: outset;
    position: fixed;
}
#welcome-text{
    width: 100%;
    height: 50%;
    font-size: 1.5vw;
    text-align: justify;
    text-justify: inter-word;
    color:#666666;
}
#welcome-rest{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
}
#welcome-rest a button, #welcome-rest button{
    width:30%;
    height: 80%;
    font-size: 1vw;
    text-transform: none;
    border: outset;
    color: white;
    border-radius: 5%;
    background-color: #1c2442;
    display: block;
}
#welcome-rest a button:hover, #welcome-rest button:hover{
    background-color: #2296f2;
}
#welcome-rest a, .center-fullwidth a, .choose-testattr a, .dialog-form-field a{
    display: contents;
    overflow: hidden;
    box-sizing:content-box;
    text-decoration: none;
}

#main-start-wrapper{
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: whitesmoke;
    border-radius: 4px;
    border: outset;
    display: flex;
    margin-bottom: 40vh;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}
.choose-content{
    width:100%;
    min-height: 20vh;
    padding: 30px;
    box-sizing: border-box;
    display: contents;
}
#setup-test{
    width : 100px;
}
.question-content{
    text-align: center;
    padding: 30px;
    width: 100%;
    min-height: 20vh;
    box-sizing: border-box;
    display: none; /*contents*/
}
.member-content{
    text-align: center;
    padding: 30px;
    transform: none;
    width: 100%;
    min-height: 20vh;
    box-sizing: border-box;
    display: none; /*none*/
}
.center-fullwidth{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#select-top{
    width:50%;
    padding-top: 4vh;
}
.select-multy{
    width:50%;
}
.choose-testattr{
    width: 100%;
    display: none; /*none*/
    align-content: center;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
#test-name:hover{
    border-color: rgba(255, 255, 255, 0.45);
    background-color: rgba(255, 255, 255, 0.45);
}
.test-attributes{
    display: none;
    justify-content: center;
    padding: 30px;
}
.template,.edit{
    display: none;
}
.text-input{
    width: 50%;
    height: 38px;
    display: flex;
    justify-content:center;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 4px;
    border-color: #e4e4e3;
    color: black;
    box-sizing: border-box;
}
.modul-button{
    width:20%;
    height: 38px;
    font-size: 1vw;
    text-transform: none;
    border: outset;
    color: white;
    border-radius: 4px;
    background-color: #1970b7;
    display: block;
    margin: 2.5vh 0 2.5vh 0;
}
.delete-button{
    padding: 1vw 2vw 1vw 2vw;
    font-weight: bold;
    color: white;
    font-size: 0.8vw;
    background-color: rgb(39, 31, 31);
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.delete-button:hover{
    background-color: rgba(39, 31, 31, 0.788);
}
.modul-button:hover, .finish-content-btns:hover, .finish-button:hover, .back-preview-button:hover, .preview-button:hover, .icon-picker-button:hover{
    background-color: #00abc9;
    color: #ffffff;
}
.modul-counter div{
    float: left;
    height: 38px;
    width: 33.33333%;
    padding: 5px 5px 5px 5px;
}
.modul-counter{
    min-width: 5%;
    font-size: 38px;
    background-color: white;
    border: 1px solid black;
    padding: 2px 10px 3px 10px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 4px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.zh{
    display: none;
}
.finish-content{
    background-color: #1c2442;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: flex;
    padding: 0 5% 0 5%;
}
.finish-content-results{
    float: left;
    display: flex;
    position: relative;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}
.finish-content-preview-btn{
    float:right;
    width: 20%;
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
}
.preview-button{
    padding: 1vw 2vw 1vw 2vw;
    font-weight: bold;
    color: white;
    font-size: 0.8vw;
    background-color: #1970b7;
}
.finish-content-results div{
    float: none;
    white-space: normal;
    text-align: left;
    clear:both;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 1vw;
    width: 55%;
}
var{
    float: right;
    font-style: normal;
}
.preview-content{
    padding: 5vh;
    box-sizing: border-box;
    display: none;
}
.preview-finish-content{
    background-color: #2296f2;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 0 5% 0 5%;
    display: none;
}
.finish-button, .back-preview-button{
    padding: 1vw 2vw 1vw 2vw;
    font-weight: bold;
    color: white;
    font-size: 0.8vw;
    background-color: #1970b7;
}
.finish-content-btns{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.back-preview-button{
    margin-right: 2.5vw;
}
.add-group-dialog-main{
    display: flex;
    place-content: center;
    margin: auto;
    width: 80%;
    height: 400px;
    padding-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
}
.delete-button{
    display: none;
}
.folder-icon{
    width: 10vw;
    text-align: center;
}
.dialog-form-field{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.dialog-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 20vw;
}
.icon-picker-button{
    width: 15vw;
    height: 38px;
    font-size: 1vw;
    text-transform: none;
    color: white;
    border-radius: 4px;
    background-color:#1c2442;
    color: #a9acb8;
    display: block;
    margin: 2.5vh 0 2.5vh 0;
}
.x-icon{
    box-sizing: border-box;
    padding: 0.5vw;
    font-size: 1vw;
    text-transform: none;
    background-color:#1c2442;
    color: #a9acb8;
    display: block;
}
.x-icon:hover{
    color: white;
    background-color:#00abc9;
    display: block;
}
.x-icon-question{
    box-sizing: border-box;
    text-transform: none;
    background-color:#1c2442;
    color: #a9acb8;
    display: block;
    width:10%;
    top:0;
    bottom:0;
    position: absolute;
}
.x-icon-question:hover{
    color: white;
    background-color:#00abc9;
    display: block;
}
.zh-dates{
    width: 100%;
    display: none;
}
.zh-dates form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    box-sizing: border-box;
}
.datetime-picker{
    padding: 1.5vh;
}
.wrong-input input{
    color: red;
}