.transferlist{
    position: relative;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left-transferlist, .right-transferlist{
    position: relative;
    background-color: white;
    width: 40%;
    height: 80%;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid grey;
    padding: 0;
    margin: 0;
}
.transferlist-items{
    width: 100%;
    height: 87.5%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
.transfer-item{
    width: 100%;
    height: 12.5%;
    border:  .25px solid grey;
    display: flex;
    padding: 0;
    margin: 0;
}
.transferlist-items::-webkit-scrollbar{
    width: 0.25em;
    padding: 0;
    margin: 0;
}

.transferlist-items::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    padding: 0;
    margin: 0;
}

.transferlist-items::-webkit-scrollbar-thumb{
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.transferlist-header{
    width: 100%;
    height: 12.5%;
    background-color: white;
    display: flex;
    border: outset;
}
.transferlist-header-checkbox{
    width: 20%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.transferlist-header-checkbox input{
    width: 50%;
    height: 50%;
}
.transferlist-header-text{
    width: 100%;
    height: 100%;
    font-size: 1.5vw;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.transferlist-item-parameters{
    width: 80%;
    height: 100%;
    font-size: 1vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: left;
}
.transferlist-item-checkbox{
    width: 20%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.transferlist-item-checkbox input{
    width: 50%;
    height: 50%;
}
.active-transferlist-item{
    background-color: rgb(135, 214, 135);
}
.active-transferlist-item div:nth-child(2){
    justify-content: center;
    width: 100%;
}
.active-transferlist-item .transferlist-item-checkbox{
    display: none;
}
.transfer-item:hover{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: antiquewhite;
}
.question-modal{
    display: none;
    position: fixed;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-height: 20vh;
    background-color: whitesmoke;
    border-radius: 4px;
    border: outset;
    flex-wrap: wrap;
    z-index: 999999;
}
.question-modal-content{
    box-sizing: border-box;
    padding: 1.5vw;
    width: 100%;
    height: 80%;
}
.question-modal-footer{
    box-sizing: border-box;
    padding: 1.5vw;
    width: 100%;
    height: 3vw;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.question-modal-footer button{
    width:20%;
    height: 38px;
    font-size: 1vw;
    text-transform: none;
    border: outset;
    color: white;
    border-radius: 4px;
    background-color: #1970b7;
    display: block;
    box-sizing: border-box;
    margin: 2.5vh 0 2.5vh 0;
}
.question-modal-footer button:hover{
    background-color: #2296f2;
}
.modal-content-question{
    width: 100%;
    display: flex;
    font-weight: bold;
}
.modal-content-image{
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5vw;
    align-content: center;
    justify-content: center;
}
.modal-content-image img{
    max-width: 50%;
    height: 70%;
    display: flex;
}
.modal-content-answers{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    margin-top: 1.5vw;
}
.answer-type-0{
    width:100%;
    height: 2vw;
    display: flex;
    white-space: pre;
}
.good-answer{
    font-weight: bold;
    color:green;
    text-decoration: underline;
}
.good-answer-img{
    float:right
}
.review-question{
    width:100%;
    display: block;
    box-sizing: border-box;
    padding: 2vw 0 2vw 0;
}